<!-- views/home.handlebars -->
<link rel='stylesheet' href='css/home.css' />
<body>

    <div class='top-container'>
        <h1>{{message}}</h1>

    </div>
    <div class='container'>
        <table id='table'>
            <tr>
                <th>id</th>
                <th>title</th>
                <th>assignee</th>
                <th>done</th>
            </tr>

            {{#each data}}
                <tr>
                    <td id='td-id-{{this.id}}'><span>{{this.id}}</span></td>
                    <td id='td-title-{{this.id}}'><span
                        >{{this.title}}</span></td>
                    <td id='td-assignee-{{this.id}}'><span
                        >{{this.assignee}}</span></td>
                    <td id='td-done-{{this.id}}'><span>{{this.done}}</span></td>
                    <td id='form-table-data-{{this.id}}'>

                        <form
                            id='deleteForm-{{this.id}}'
                            action='/delete'
                            method='POST'
                            style='display:block; flex-flow:row wrap'
                        >
                            <input
                                type='submit'
                                name='sil'
                                id='sil-{{this.id}}'
                                value='Sil'
                            />
                            <input
                                type='text'
                                name='silText'
                                id='silText'
                                value='{{this.id}}'
                                style='display: none;'
                            />
                        </form>

                        {{!-- <input type="button" name="edit" id=edit-{{this.id}} value="Edit" onclick="editTaskData(this.id)"> --}}
                        <a href='/user/{{this.id}}' class='edit'>Edit</a>

                    </td>
                </tr>

            {{/each}}
        </table>

    </div>
    <div class='input-container'>
        <form id='inputForm' action='/' method='POST'>
            <input type='checkbox' id='done' name='done' />
            <input type='text' id='title' name='title' placeholder='Title' />
            <input
                type='text'
                id='assignee'
                name='assignee'
                placeholder='Assignee'
            />
            <input type='submit' id='submit' value='Submit' />
        </form>
    </div>

    <div class='filter'>
        <form action='/' method='get'>
            <select name='done' id='done'>
                <option value='all' selected>All</option>
                <option value='false'>false</option>
                <option value='true'>true</option>
            </select>
            <input type='submit' name='filter' id='filter' value='filter' />
        </form>
    </div>

</body>